.form{
  width: 40vw;
  background-color: lavender;
  margin: auto;
  box-shadow: 4px 4px 4px black;
}

.margin-modal-title{
  margin-left: 17rem;
}

$theme-colors: (
  "secondary": #e0e0e0,
);

@import '~bootstrap/scss/bootstrap.scss';
