.form{
  width: 40vw;
  background-color: lavender;
  margin: auto;
  box-shadow: 4px 4px 4px black;
}

.margin-modal-title{
  margin-left: 17rem;
}

#main-container{
  max-width: none;
  width: 95vw;
  padding: 17px;
  background-color: blue;
  height :90%;
}

#root{
  height :100vh;
}

