.NoteDisplay {
  background-color: var(--secondary-color);
  border-radius: 4px;
  height: 48%;
  box-sizing: border-box;
  padding-left: 40px;
  padding-top: 40px;
}

.NoteDisplay-content {
  margin-top: 35px;
}
